// general styles
#wrapper {
	width: 100%;
	max-width: 1000px;
	background: #fff;
	position: relative;
	margin: auto;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}


body {
	background-image: url(../img/background-repeat.png);
	background-repeat: repeat;
}


.single-avada_portfolio .flexslider .slides {

	margin-top: 10px;
	height: 450px;
	overflow: hidden;
	position: relative;

	
		li {
		position: absolute !important;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}
} 

body {
	font-size: 14px;

}
a {
	&:link, &:hover, &:active, &:visited {
		color: @purple;
	}
}

nav#nav, nav#sticky-nav {
	clear:both !important;
	float:none;
	width:100%;
	margin:auto;
	ul {
		text-align:center;
		li {
			display:inline-block;
			float:none;
			padding:0 17px;
		}
	}
}


body .ui-tooltip {
	background: #fff;
	
}

.ampersand-group-menu {
	display:block;
	float:right;
	ul {
		border-left: 1px solid @lightgrey;
		width:300px;
		list-style-type: none;
		padding:0 0 0 10px;
		margin:0;
		font-family:Arial;
		li {
			font-size:12px;
			float:none;
			margin:0;
			padding:0;
			a {
				color:@aubergine;
				height:auto;
				line-height:14px;
			}
		}
	}

	@media screen and (max-width: 800px) {
		float: none;
		ul {
			width:100%;
			border-left:none;
			text-align: center;
				li {
				display:inline-block;
				margin: 10px;
			}
		}
	}

}

a .aquote {
	&:hover {
		transform:scale(1.2,1.2)
	}
	transition: transform 0.5s ease;
}



.aquote {


	font-size:22px;
	display:inline-block;
	line-height:34px;
	color: @grey;
	.avenir-medium;
	strong { 
		.baskerville-italic;
		font-weight:normal;
		
	}
	
	&.pink:after, &.pink strong { color:@pink; }
	&.babyblue:after, &.babyblue strong { color:@babyblue; }
	&.purple:after, &.purple strong { color:@purple; }
	&.peach:after, &.peach strong { color:@peach; }
	
	&:after { .icomoon;font-size:smaller;padding-left:10px; }
	
	&.long-right:after { .icon-long-right }
	&.long-left:after { .icon-long-left }
	&.round-right:after { .icon-round-left }
	&.round-left:after { .icon-round-right }
	&.floral-left:after { .icon-floral-left }
	&.floral-right:after { .icon-floral-right }
	&.heart:after { .icon-heart }
	
	&.grey { color:@purple; strong { color: @lightgrey; } &:after { color: @lightgrey; }}
	
	
}


body.home {
	div.post-content {
		div.two_third:nth-child(1) {
			position: relative;
			span.aquote {
				background: #fff;
				position: relative;
				z-index: 1;
				padding-right: 10px;
			}
			&:after {
				content:"";
				height: 1px;
				background: @lightgrey;
				position: absolute;
				width:100%;
				top:0;
				margin-top: 7px;
				bottom: 0;
				left: 0;

			}
		}
	}
}

// from this day forth 

span.rightline {
	float: right;
	height:1px;
	background: @lightgrey;
	
	display: block;
	top:7px;
	position: relative;
}

.category-section-menu {
	ul {
		margin:0;
		padding:0;
		li {
			display: block;
		}
	}
}


@media only screen and (max-width: 550px) {

	body.home {
		div.two_third, div.one_third {
			width:100%;
			float:none;
			clear: both;
		}
	}
	span.rightline {
		display:none;
	}

	.category-section-menu ul {
		width:100%;
		text-align: center;
		li {
			display:inline-block;
			width: auto;
		}
	}


}


#main .homepage-trio {
	
	div.one_third {

		@media only screen and (max-width: 550px) {
			width:100%;
			float: none;
			clear: both;

			h2 {
				text-align: center;
			}
		}
		
		h2 {
			position: relative;
			font-size:28px;
			.avenir-medium;
			color:@grey;
			strong {
				.baskerville-italic;

				position: relative;
				z-index: 5;
				.text-border(5px, #fff);
				
			}

			&:after {
				background: #fff;
				position: relative;
				min-width: 100px;
				text-align: center;
				z-index: 2;
				padding-right: 5px;

			}

			&:before {
				content:"";
				z-index: 1;
				position: absolute;
				
				width:40%;
				height: 1px;

				background: @purple;
				
				margin-top: 14px;
				top:0;
				bottom: 0;
				right: 0;

			}
			
		}
		
		span.floral-border {
			
			border:1px solid @purple;
			display:block;
			padding:5%;
			height:0;
			padding-bottom:64.25%;
			&:before {
				display:block;
				position:absolute;
				margin:auto;
				left:0;
				right:0;
				top:-5px;
				.text-border(3px);
				text-align:center;
				width:auto;
			}
					
			img {
				box-shadow: 2px 2px 10px RGBA(0,0,0,0.7);
				transition: transform 0.2s ease;
				width:100%;
			}

			&:hover {
				img { 
					transform:scale(1.1,1.1);
				}
			}
		}
		
		&:nth-child(3n-2) {
			//color: @pink;
			// to have
			a { color: @pink; }
			h2 {
				&:after { color:@pink;.icon-floral-right;.icomoon;font-size:smaller;padding-left:10px;color: @pink; }
				strong {
				color: @aubergine;
				font-weight: normal;
				}

			}
			span.floral-border {
				&:before {.icon-floral-center;.icomoon; }
				border-color: @pink;
			}
		}
		
		&:nth-child(3n-1) {
			// to hold
			//color: @babyblue;
			a { color: @babyblue; }
			h2 strong {
				color: @purple;
				font-weight: normal;
				&:after { color:@babyblue;.icon-spiral-right;.icomoon;font-size:smaller;padding-left:10px; }
			}
			span.floral-border {
			
				&:before {.icon-long-center;.icomoon; }
				border-color: @babyblue;
			}
		}
		
		&:nth-child(3n) {
			//color: @peach;
			// with love
			a { color: @peach; }
			h2 {
				&:after { color: @peach;.icon-heart;.icomoon;font-size:smaller;padding-left:10px;color: @peach; }
				 strong {
				color: @aubergine;
				font-weight: normal;

			}
			}
			span.floral-border {
				&:before {.icon-floral-center;.icomoon; }				
				border-color:@peach;
			}
		}

		
	}
	
}




.hr(@color: @lightgrey, @background: #fff) {
	position: relative;
	border: none;
	border-top:1px solid @color;
	&:after {
		.icon-hr();
		.icomoon();
		color: @color;
		position: absolute;
		margin: auto;
		display: block;
		left: 0;
		width: 100%;
		text-align: center;
		background: @background ; // not transparent!
		left: 0;
		right: 0;
		width: 70px;
		text-align: center;
		top: -7px;
		font-size: 12px;
	}

}

hr { .hr(); }




// for category banners css fixes
.category_banners {
	.last {
		margin-right:0 !important;
	}

	hr {
		opacity: 0.3;
	}

	.w100 {
		margin-top: 10px;
	}

	h1 {
		font-size: 2em;
	}
}

.solemnlydeclare img.clear {
	position: relative;
	margin: auto;
	display: block;
}
.solemnlydeclare img.alignleft {


	display: inline-block;
float: left;
margin-bottom: 60px;
margin-right:5px;
// widgety things
}


// portfolio stuff (VENUES)


.image .image-extras .image-extras-content h3.entry-title a {
		color:#fff;
		font-size:24px;
		.avenir-heavy;
		text-shadow: none;
	
}

h1.single-venue-title {
	text-transform: capitalize;
}

body.single-avada_portfolio {
	div#main {
		padding: 0 10px 45px;
	}
}



// FOOTER STUFF

footer.footer-area {

	article {
		font-size:12px;
	}
	h3 {
		color:@grey;
		font-size: 19px;
	}

	background:#fff;
	a {
		text-shadow:none !important;

	}

	ul li a {
		border-bottom: 1px solid @lightgrey !important;
	}
}

// widget stuff

// news feed widget
.widget-old-news-feed {
	.subHeading2 {
		color:@purple;
		.avenir-heavy;
	}

	.generalContent {
		font-size:9px;
		line-height: 12px;
	}

}


#jtwt .jtwt_tweet {
	background: url("../img/ampersand.png") no-repeat top left !important;
	
}