

.project-content .project-description {
	h3 {
		color: @grey;
	}
}

body.page-template-portfolio-two-column-text-php {
	.portfolio-item.isotope-item {
		margin-bottom:20px;
	}
	.portfolio-content {
		h2.entry-title {
			font-weight: normal;
		}

		.post-content {
			font-size:12px;
			padding-right: 5px;
		}
	}
}




.image .image-extras {

	width:91%;
	padding-left:5%;
	padding-right:5%;

	h3 {
		font-size:24px;
	}

	a { 
		color:#fff;
		display: block;
		position: relative;
		
		height: 80%;
		
		width:60%;
		padding: 10% 20%;
		margin: auto;
	}

	&:before {
	content: '';
	display: inline-block;
	height: 0%;
	display: none;
	vertical-align: middle;
	}
}