
.project-content h3{
	
	color:#333333;
	margin:0 !important;
	margin-bottom:20px !important;
	font-size: 2em;
	.aquote {
		font-size: 1em;
	}
	
}
.project-content{
	overflow:hidden;
}
.project-content .project-description{
	float:left;
	width:74.4681%;
}
.project-content .project-description p{
	margin-top:0;
}
.project-content .project-info{
	float:right;
	width:23.4043%;
}
.project-content .project-info .project-info-box{
	border-bottom:1px solid #e7e6e6;
	padding-bottom:15px;
	margin-bottom:15px;
	overflow:hidden;
}
.project-content .project-info .project-info-box a{
	color:#747474 !important;
}
.project-content .project-info .project-info-box a:hover{
	color:#9260a9 !important;
}
.project-content .project-info h4{
	font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif;
	color:#333333;
	margin:0 !important;
	float:left;
	width:110px;
}



.project-content .project-description {
	h3 {
		color: @grey;

	}
}

body.page-template-portfolio-two-column-text-php {
	.portfolio-item.isotope-item {
		margin-bottom:50px;
	}
	.portfolio-content {
		h2.entry-title {
			font-weight: normal;
		}

		.post-content {
			font-size:12px;
			padding-right: 5px;
		}
	}
}


.portfolio-two .portfolio-item {
	@margin: 50px;
	width: 460px - @margin / 2;
	&:nth-child(2n) {
		margin-left: @margin;	
		@media only screen and (max-width: 800px) {
			margin-left: 0;
		}
	}
	
}

.portfolio-item {
	overflow: visible;
	&:before {
			.icon-floral-center;
			.icomoon; 
			display:block;
			position:absolute;
			margin:auto;
			left:0;
			right:0;
			top: 0;
			.text-border(4px, #fff);
			text-align:center;
			width:auto;
			color: @purple;
			z-index: 5;



		}
}

.portfolio-item .image {
		overflow: visible;
		
		border:1px solid @purple;
		display:block;
		padding:15px;
		top:9px;
		position: relative;
		
		img {
			transition : transform 0.3s ease;
			z-index: 6;
			box-shadow: 2px 0 5px 2px rgba(0, 0, 0, 0.5);
		}
		&:hover {

			img {
				transform: scale(1.05,1.05);	
			}
			

		}
			
	.image-extras {

		width:91%;
		padding-left:5%;
		padding-right:5%;

		h3 {
			font-size:24px;
		}

		a { 
			color:#fff;
			display: block;
			position: relative;
			
			height: 80%;
			
			width:60%;
			padding: 10% 20%;
			margin: auto;
		}

		&:before {
		content: '';
		display: inline-block;
		height: 0%;
		display: none;
		vertical-align: middle;
		}
	}
}

.venue-cta {
	position: relative;
	width: 92%;
	padding: 4%;

	border: solid 1px @babyblue;


	&:before {
		.icon-floral-center;
		.icomoon; 
		display:block;
		position:absolute;
		margin:auto;
		left:0;
		right:0;
		top:-8px;
		.text-border(5px, #fff);
		text-align:center;
		width:auto;
		color: @babyblue;
	}		
	img {
		float:left;
		margin-bottom:200px;
		margin-right:20px;
	}

	h4 {
		.georgia;
		color:@pink;
		font-size:17px !important;
		font-style: italic;
		margin-top:0px;
	}

	ul {
		position: relative;
		font-size:20px !important;
		li {
			position: relative;
			margin-bottom:10px;
			i {
				color:@grey;
				margin-right:10px;
			}

			a {



			}
		}
	}
}